# Conversion Between Data Types

Data type conversion is a technique of changing the initial value of data type a, to data type b. There are 2 ways to convert data types:
1. Implicit Conversion (automatic)
2. Convert explicitly (manual)

In [2]:
nama = 'Matplotlib'

In [3]:
print(nama)

Matplotlib

In [4]:
type(nama)

str

Checking Type of Data Type

In [7]:
nama = 'Sari', 'Regina', 'Putri', 'Tobias', 'Daud'
usia = 20
mahasiswa = 'true'

In [8]:
print(type(nama))
print(type(usia))
print(type(mahasiswa))

<class 'tuple'>
<class 'int'>
<class 'str'>

## Conversion

In [10]:
usia = input('20')

2020

In [11]:
print(type(usia))

<class 'str'>

if we try to operate (eg multiplication) string and integer, or string and string, then (in general) we will get an error. Example:

In [13]:
Tinggi = ('150', '167', '180', '188', '155')
Berat = ('45', '50', '60', '66', '70')

In [14]:
print('Luas =', Tinggi*Berat)

TypeError: ignored

# Implicit data type conversion

In [16]:
a = 10/2
b = 1/2

In [17]:
print(type(a))
print(type(b))

<class 'float'>
<class 'float'>

In [18]:
c = 10+5 #hasil integer
d = 10 + 5.0 #hasil float
e = 10.5 - 3 #hasilnya float

In [19]:
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'float'>

String Multiplication

In [20]:
kata = 'Matplotlib' * 5

In [25]:
print(kata)
print(type(kata))

MatplotlibMatplotlibMatplotlibMatplotlibMatplotlib
<class 'str'>

# Explicit Data Type Conversion

In python, we can convert data types explicitly by calling the constructor function of each data type.

For primitive data types, we can call the following function:
1. int() - for converting data to integer
2. float() - for converting data to float
3. bool() - for converting data to bool
4. str() - for string data conversion (some people mention that string is a primitive data type in python [1])

And for other data types that are classified as advanced (or artificial) data types, we can also call each of its constructors to perform data type casting, for example:
1. list() - for list
2. set() - for set
3. tuple() - for tuples

Convert String to Numeric

In [26]:
Tinggi = ('150', '167', '180', '188', '155')
Berat = ('45', '50', '60', '66', '70')

In [29]:
Tinggi = int(input('150'))
Berat = float(input('45'))
print('luas=', Tinggi*Berat)

150150
4545.0
luas= 6750.0

In [30]:
print(int(5.6))
print(float(5))

5
5.0

Numerical to String Conversion

In [31]:
nama = 'Matplotlib'
tahun_lahir = 2022

In [34]:
print(nama+' ' +'lahir di tahun'+" " +str(tahun_lahir))

Matplotlib lahir di tahun 2022

Convert to List, Set and Tuple

In [35]:
listhuruf = ['d', 'a', 't', 'a', 's', 'c', 'i', 'e', 'n', 'c', 'e']

In [36]:
print(listhuruf)
print(tuple(listhuruf))
print(set(listhuruf))

['d', 'a', 't', 'a', 's', 'c', 'i', 'e', 'n', 'c', 'e']
('d', 'a', 't', 'a', 's', 'c', 'i', 'e', 'n', 'c', 'e')
{'c', 'i', 'd', 'n', 'a', 't', 's', 'e'}

In [37]:
kelompok = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [38]:
print(kelompok)
print(list(kelompok))
print(tuple(kelompok))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)